button:focus,button:active,button:visited{
  outline:none;
}
.my-wrap{
  display: flex;
  flex-direction:column;
  height: 100vh;

}
.main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.nav-footer{
  height: 80px;
  flex-shrink: 0;
  background-color: #00bcd4;
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
}
.nav-footer a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.6);;
  flex-grow: 1;
}
.nav-footer a:last-child{
  background: none;
}

.nav-header{
  flex-shrink: 0;
  display:flex;
  justify-content: space-between;
  height: 80px;
  background-color: #00bcd4;
  padding: 0 5px;
  align-items: center;
}
.nav-header h3{
  margin: 0;
  color:#fff;
  font-weight: bold;
}
.nav-header button{
  height: 36px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
}
.home-wrap{
  flex-grow: 1;
  background-image: url(./images/bg22.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
}
.home-cover{
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
.home-item{
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
.about-wrap{
    flex-grow: 1;
    padding: 10px;
}
.git-card{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px;
  padding: 10px;
  text-align: center;
}
.git-card h2{
  margin: 0;
  color: #00bcd4;
}
.about-form{
  margin: 0 auto;
  display: inline;
  max-width: 560px;
}
.show-git{
  display: flex;
  justify-content: space-around;
  color: #00bcd4;
  font-size: 18px;
  padding: 10px 0;
}
.blog-wrap{
  flex-grow: 1;
  margin-top: 20px;
}
.blog-card{
  padding: 0 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.blog-index{
  background-color: #00bcd4;
  font-size: 24px;
  text-align: center;
  color: #fff;
  height: 70px;
  padding-top: 10px;
}
.blog-index span{
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.blog-content{
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 6px;
  padding: 10px;
  color: #666;
}
.blog-content h3{
  margin: 10px 0;
}
.blog-content button{

}
